<!DOCTYPE html>
<html>
    <head><style>
       p{
        font-size: 60px;
        color: black;
       }
       .form1{
        display: flex;
        flex-direction: column-reverse;
        height: 30px;
        width: 200px;
        align-items: center;
       }
       form{
        height:0;
        padding-left:620px;
        margin:30px;
        background-color: whitesmoke;
       }
    </style>
    </head>
    <body style="background-color: #cfb088;">
        <form action ='/TECGp' method="POST">
            <p>Username for Playlist</p>
            Username:<input type ='String' class='form1' name="Username">
            <br>
            <button class="w-100 btn btn-lg btn-primary" type="submit">SUBMIT</button>
        </form>
    </body>
</html>