<html>
    <head>
        <title>GO on</title>
        <style>
            button{
                font-size: 40px;
                margin-top: 20px;
                margin-left:600px;
            }
            p{
                margin-top: 200px;
                margin-left:600px;
                font-size: 30px;
            }
            body{
                background-color: blueviolet;
            }
        </style>
    </head>
    <body>
        <form action="/admincreat">
            <p>Click here to go to next step</p>
         <button type="submit">Goahead</button>
        </form>
    </body>
</html>