<!DOCTYPE html>
<html>
    <head><style>
       p{
        font-size: 60px;
        color: black;
       }
       .form1{
        display: flex;
        flex-direction: column-reverse;
        height: 30px;
        width: 200px;
        align-items: center;
       }
       form{
        height:0;
        padding-left:620px;
        margin:30px;
        background-color: whitesmoke;
       }
    </style>
    </head>
    <body style="background-color: #cfb088;">
        <form action ='/acting' method="POST">
            <p>PROFILE UPDATE</p>
            <h4>Write Same entery for which you want don't want to change</h4>
            Username(You can't change):<input type ='text' class='form1' name="name" >
            <br>
            Phoneno:<input type ='number' class='form1' name="phoneno">
            <br>
            Email:<input type="email" class="form1" name="email">
            <br>
            New Password:<input type="password" class='form1' name="password">
            <br>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Update</button>
        </form>
    </body>
</html>